* {
  margin-top: 5px;
  padding: 0;
}
/* Common shared Style */
.text-primary {
  color: #fd6e0a;
}
.section-title {
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.website-tittle {
  color: black;
  font-size: 2.5rem;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
.btn-primary {
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 18px 35px;
  background: #fd6e0a;
  border: 0;
}
nav a {
  text-decoration: none;
  color: #464646;
}
/* Header style */
.header {
  background: #fff8f3;
  background-image: url("../Images/header_bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 500px;
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-tille {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-content {
  max-width: 500px;
}
.banner-discription {
  color: #474747;
}
/* Main section style */

/* About section style */
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px;
  margin: 129px;
}